@font-face {
    font-family: "Josefin";
    font-weight: 400;
    src: url(JosefinSans-VariableFont_wght.ttf);
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body { 
    margin: 0;
    padding: 0;
    background-color: #19323C;
}
a {
    color: white;
    font-size: 25px;
    font-family: "Josefin";
}
p {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.4; 
    max-width: 90%;   
    word-wrap: break-word;
    white-space: normal;  
}
.text-container {
    width: 100%;
}
h2 {
    color: white;
    font-family: "Josefin";
    font-size: 26px;
    text-align: center;
}
h3 {
    color: white;
    font-family: "Josefin";
    font-size: 14px;
    margin: 0px;
}
.menuimgs {
    transition: 0.2s;
}
.menuimgs > img {
    width: 75px;
}
.sidemenu {
    position: fixed;
    transition: 0.2s;
    width: 250px;
    height: 500px;
    background-color: #F2545B;
    left: -250px;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    align-items: center;
    gap: 60px;
    z-index: 255;
}
.menuvojta {
    margin-right: calc(1vw + 5px);
}
.navvojta {
    width: 100px;
    margin-top: 7px;
    background-color: #e0e0e0;
    border-radius: 100%;
}
.socpic-container {
    display: flex;
    flex-direction: row;
}
.socpic {
    position: relative;
    top: -20px;
    width: 75px;
}
.header {
    height: 100px;
    width: 100vw;
    background-color: #F2545B;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 255;
}
.top {
    scroll-margin-top: 100px;
    margin-top: 100px;
    padding-top: 15px;
    text-align: center;
    color: white;
    font-family: "Josefin";
    font-size: 35px;
    height: 550px;
    overflow: hidden;
    overflow-wrap: break-word;
}
.top > h1 {
    font-size: 75px;
    position: relative;
    top: 50px;
    z-index: 1;
    padding: 0px;
    margin: 0px;
    height: 155px;
    overflow: hidden;
}
.hero-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}
.vojta {
    position:  relative;
    width: 160px;
    z-index: 25;
    top: 120px;
    left: -20px;
}
.langarmy {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.langarmy > img{
    object-fit: contain ;
    position: relative;
    width: 250px;
    left: 0px; 
    top: 60px;
}
.site > * {
    padding-top: 36px;
    padding-bottom: 12px;
    color: white;
    font-family: "Josefin";
    font-size: 15px;
}
.kdojsem { 
    scroll-margin-top: 100px;
    background-color: #0E2630;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kdojseminside {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgs > img {
    width: 150px;
    border-radius: 15px; margin-bottom: 15px;
    z-index: 15px;
}
.imgs {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -48px;
}
.vojta-sit {
    position: relative;
    right: -47px;
}
.dovednosti {
    scroll-margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skillloader {
    background-color: #0E2630;
    height: 50px;
    width: 275px;
    border-radius: 30px;
    z-index: 50;
    overflow: hidden;
}
.behindhtml {
    position: relative;
    top: 5px;
}
.skillholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-skillholder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.css {
    height: 100px;
    position: relative;
    left: 10px;
}
.js {
    height: 70px;
    position: relative;
    left: 10px;
}
.skillloaded1 {
    background-color: #F2545B;
    height: 50px;
    width: 75%;
    border-radius: 30px;
    z-index: 100;
}
.html {
    margin-top: 35px; 
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
}
.html:hover .cssimg {
    left: -40px; 
}
.html:hover .jsimg {
    left: 40px; 
}
.htmlimg {
 z-index: 100;
}
.jsimg {
    transition: 0.2s;
    left: 63px;
    transform: rotateZ(-30deg);
}
.cssimg {
    transition: 0.2s;
    left: -63px;
    transform: rotateZ(30deg);
}
.html > img {
    position: relative;
    height: 100px;
}
.skillloaded2 {
    background-color: #F2545B;
    height: 50px;
    width: 33%;
    border-radius: 30px;
    z-index: 100;
}
.python {
    top: 0;
    position: relative;
    transition: 0.2s;
    height: 100px;
    margin-bottom: 35px;
    margin-top: 35px;
}
.python:hover {
    top: -20px;
    transition: 0.3s;
}
.skillloaded3 {
    background-color: #F2545B;
    height: 50px;
    width: 57%;
    border-radius: 30px;
    z-index: 100;
}
.java {
    top: 0;
    position: relative;
    transition: 0.2s;
    height: 100px;
    margin-bottom: 35px;
    margin-top: 35px;
}
.java:hover {
    top: -20px;
    transition: 0.3s;
}
.portfolio {
    scroll-margin-top: 100px;
    background-color: #F2545B;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio > .portfolio-container > .portfoliotab > img {
    width: 300px;
    align-items: center;
}
.portfolio > a > button {
    border-radius: 60px;
    border-color: #ffffff00;
    width: 125px;
    border-radius: 15px;
    overflow: visible;
}
.konicky {
    scroll-margin-top: 100px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.konicky > img {
    width: 150px;
    align-items: center;
}
.boombox {
    transform: translateY(-15px) rotateZ(15deg);
    
}
.kontakt {
    scroll-margin-top: 100px;
    background-color: #F2545B;
}
#kontakt-formular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#kontakt-formular > * {
    border-color: #ffffff00;
    overflow: visible;
}   
.jmeno {
    width: 200px;
    border-radius: 15px;
}
.email {
    width: 200px;
    border-radius: 15px;
}
.text {
    width: 200px;
    border-radius: 15px;
}
#kontakt-formular > button {
    border-radius: 15px;
}
a > button {
    transition: 0.2s;
    margin-top: 15px;
    font-family: "Josefin";
}
button {
    transition: 0.2s;
    margin-top: 15px;
}
button:hover {
    transition: 0.2s;
    background-color: #949494;
}
input {
    transition: 0.2s;
}
input:hover {
    transition: 0.2s;
    background-color: #b0b0b0;
}
.end {
    text-align: center;
}
.topp {
    background-color: #F2545B;
    scroll-margin-top: 100px;
    margin-top: 150px;
    text-align: center;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topp > img {
    width: 300px;
    align-items: center;
}
.topp > a > button {
    border-radius: 60px;
    border-color: #ffffff00;
    width: 125px;
    border-radius: 15px;
    overflow: visible;
}
@media only screen and (min-width: 450px) {
    .langarmy > img{
        object-fit: contain ;
        position: relative;
        width: 320px;
        left: 0px; 
        top: 0px;
    }

    .vojta {
        position:  relative;
        width: 250px;
        z-index: 25;
        top: 100px;
        left: -20px;
    }
    .top { 
        height: 600px;
    }
}
@media only screen and (min-width: 750px) {
    p {
        font-size: 1rem;
    }
    .text-container {
        width: 255px;
}
    .kdojsem > h2 {
        position: relative;
        align-self: start;
        right: -50px;
    }
    .kdojsem > .kdojseminside > .imgs {
        align-self: end;
        position: relative;
        left: -80px;
        top: -20px;
    }
    .imgs > img {
        width: 240px;
    }
    .vojta-sit{
        right: -62px;
    }
    .kdojsem > .kdojseminside {
        display: flex;
         width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .kdojsem > .kdojseminside > p {
        padding-left: 40px;
        padding-right: 100px;
    }
    .portfolio-container {
        display: flex;
        flex-direction: row;
    }
    .top > h1 {
        font-size: 125px;
        position: relative;
        top: 100px;
        z-index: 1;
        padding: 0px;
        margin: 0px;
    }
    .hero-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .vojta {
        position:  relative;
        width: 310px;
        top: 70px;
        z-index: 25;
        left: 0;
    }
    .langarmy {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .langarmy > img{
        object-fit: contain ;
        position: relative;
        top: -25px;
        left: 0px;
        width: 350px;
    }
}
@media only screen and (min-width: 1200px) {
    .kdojsem > h2 {
        position: relative;
        align-self: start;
        right: -50px;
    }
    .kdojsem > .kdojseminside > .imgs {
        align-self: end;
        position: relative;
        left: -80px;
        top: -55px;
    }
    .imgs > img {
        width: 350px;
    }
    .vojta-sit{
        right: -92px;
    }
    .kdojsem > .kdojseminside {
        display: flex;
        flex-direction: row-reverse;
    }
    .kdojsem > .kdojseminside > p {
        padding-left: 40px;
        padding-right: 220px;
    }
    .container-skillholder {
        flex-direction: row;
    }
    .skillholder {
        flex-direction: column-reverse;
    }
    .portfolio-container {
        display: flex;
        flex-direction: row;
    }
    .top > h1 {
        font-size: 125px;
        position: relative;
        top: 250px;
        z-index: 1;
        padding: 0px;
        margin: 0px;
    }
    .hero-holder {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .vojta {
        position:  relative;
        width: 365px;
        top: 3px;
        z-index: 25;
        left: 0;
    }
    .langarmy {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    .langarmy > img{
        object-fit: contain ;
        position: relative;
        top: -225px;
        left: 0px;
        width: 532px;
    }
}
@media only screen and (min-width: 1600px) {
    h2 {
        font-size: 34px;
    }
    .kdojsem > h2 {
        position: relative;
        align-self: start;
        right: -50px;
        font-size: 34px;
    }
    .kdojsem > .kdojseminside > img {
        align-self: end;
        position: relative;
        left: -80px;
        width: 500px;
        top: -55px;
    }
    .kdojsem > .kdojseminside {
        display: flex;
        flex-direction: row-reverse;
    }
    .kdojsem > .kdojseminside > p {
        padding-left: 40px;
        padding-right: calc(640px + 2vw);
    }
    .container-skillholder {
        flex-direction: row;
    }
    .skillholder {
        flex-direction: column-reverse;
    }
    .portfolio-container {
        display: flex;
        flex-direction: row;
    }
}
